---
layout: default
title: Daniele_D'Amico
path: home
prism: true
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center container max-w-4xl mt-6  px-6 bg-zinc-50">
  <h1>
    Ciao 👋, sono
    <strong class="font-sans bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      Daniele&nbsp;D'Amico
    </strong>
  </h1>

  <p>
    e questo è il posto dove scrivo cose.
  </p>
</div>

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center container max-w-4xl mt-6  px-6 bg-zinc-50">
  {% include "./_includes/partials/content.html" %}
</div>
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center container max-w-4xl mt-6  px-6 bg-zinc-50">
  {% include "./_includes/partials/blog_home.html" %}
</div>
